<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 龙江银行</title>
    <link href="~/Styles/icons.css" rel="stylesheet" />
    <link href="~/Styles/datetimepicker.css" rel="stylesheet" />
    <link href="~/styles/main.css" rel="stylesheet" type="text/css" />
    <script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <script src="~/Scripts/jquery.datetimepicker.js"></script>
    <script src="~/Scripts/site.js"></script>
    <!--[if lte IE 7]>
    <script src="/Scripts/json2.js"></script>
    <![endif]-->
    <!--[if lte IE 9]>
    <script type="text/javascript" src="/Scripts/excanvas.js"></script>
    <script src="/Scripts/jplaceholder.js"></script>
    <script src="/Scripts/pie.js"></script>
    <![endif]-->
    <!--[if lte IE 6]>
    <script src="/Scripts/png.js"></script>
    <![endif]-->
</head>
<body>
    <div class="left-sidebar">
        <div class="sidebar-subtitle">积分管理</div>
        <a href="/Home"><div class="sidebar-menu"><i class="fa fa-dashboard icon ico"></i>站点参数</div></a>
        <a href="/Home/Mall"><div class="sidebar-menu"><i class="fa fa-shopping-cart icon ico"></i>商城管理</div></a>
        <a href="/Home/Verify"><div class="sidebar-menu"><i class="fa fa-star icon ico"></i>积分兑换审核 (@ViewBag.NewCoins)</div></a>
        <a href="/Home/Exchange"><div class="sidebar-menu"><i class="fa fa-exchange icon ico"></i>兑换奖品</div></a>
        <a href="/Home/Deposit"><div class="sidebar-menu"><i class="fa fa-edit icon ico"></i>单号管理</div></a>
        <div class="sidebar-subtitle">其它操作</div>
        <a href="javascript:$('#frmLogout').submit()"><div class="sidebar-menu"><i class="fa fa-sign-out icon ico"></i>退出系统</div></a>
        @using (Html.BeginForm("Logout", "Home", null, FormMethod.Post, new { id = "frmLogout" }))
        {
            @Html.AntiForgeryToken()
        }
    </div>
    <div class="container">
        <div class="wrap-cont">
            @RenderBody()
            <div class="footer">Copyright © 2016 Code Comb Technology Co., Ltd. All rights reserved.</div>
        </div>
    </div>
    <script>
        var csrf = $("input[name='__RequestVerificationToken']").val();
    </script>
</body>
</html>