@{ 
    Layout = null;
}

<table class="table">
        <tr>
            <td>单号</td>
            <td>姓名</td>
            <td>身份证号</td>
            <td>积分</td>
            <td>状态</td>
        </tr>
        @foreach (var x in Model)
        {
            <tr id="deposit-@x.Id">
                <td>【@x.Id】</td>
                <td>@x.Name</td>
                <td>【@x.PRCID】</td>
                <td>@x.Coins</td>
                <td>@x.Status</td>
            </tr>
        }
</table>
