
@{
    ViewBag.Title = "后台首页";
}

<h2>网站信息</h2>
<table class="detail-table">
    <tr>
        <td class="row-title">系统名称</td>
        <td>龙江银行<br /><img src="~/Images/Logo.png" alt="龙江银行" style="width: 150px" /></td>
    </tr>
    <tr>
        <td class="row-title">版本</td>
        <td>v0.9.0 alpha</td>
    </tr>
    <tr>
        <td class="row-title">数据库</td>
        <td>SQLite v3</td>
    </tr>
    <tr>
        <td class="row-title">O/RM</td>
        <td>Entity Framework 7</td>
    </tr>
    <tr>
        <td class="row-title">.Net Framework</td>
        <td>.Net 4.5.1 / .Net Core 5</td>
    </tr>
    <tr>
        <td class="row-title">系统需求</td>
        <td>Windows 2008 Server R2 SP1或更高</td>
    </tr>
    <tr>
        <td class="row-title">技术支持</td>
        <td><a href="http://www.codecomb.com">哈尔滨市码锋科技有限责任公司</a></td>
    </tr>
</table>