@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>输单号，兑积分</title>
    <style>
        body {
            background-image: url('/images/bg.jpg');
            background-size: 100%;
            margin: 0;
            padding: 0;
        }

        a {
            text-decoration: none;
        }
    </style>
    <script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
    <div style="position: absolute; width: 100%; top: 2.2em">
        <center>
            <img src="~/images/coins.png" style="height: 180px;" />
        </center>
    </div>
    <form action="/api/coins" method="post" style="position: absolute; bottom:2em; width: 100%;">
        <center>
            <input name="number" id="txtNumber" type="text" style="border: 0;width: 80%;box-shadow: rgba(0,0,0,0.4) 0 0 10px; height: 1.7em; text-align:center; font-size:1.7em; line-height:1.7em;border-radius:100px;" placeholder="输入存单号或理财编号" />
            <br />
            <br />
            <a href="javascript:$('form').submit();">
                <div id="btnInner" style="border-radius: 100px; background-image:url('/images/button.png'); background-repeat:repeat-x; background-size:auto 100%; height: 2em; font-size:1.7em; line-height: 2em; text-align:center; box-shadow: rgba(0,0,0,0.4) 0 0 10px;color:#fff;text-shadow: 0 0 3px #4b0000">兑换积分</div>
            </a>
        </center>
    </form>
    <script>
        function resize()
        {
            $('#btnInner').css('width', $('#txtNumber').outerWidth());
        }
        resize();
        $(window).resize(function () { resize(); });
    </script>
</body>
</html>