@{
    Layout = null;
}
@model IEnumerable<LongjiangBank.Models.Production>
@foreach (var x in Model)
{
    <a href="/Common/Production/@x.Id">
        <div class="product-item">
            <img src="/Common/Image/@x.Id" class="product-img" alt="商品展示">
            <div class="product-title">@x.Title</div>
            <div class="product-price">@x.Cost 积分<div class="product-sale">兑换人数：@x.ExchangeCount</div></div>
        </div>
    </a>
}